package ${javaClass.packageName}


#foreach($import in ${imports})
import $import;
#end



/**
 * ${javaClass.comment}
 */
publict class ${javaClass.name}Vo {

#foreach ($field in ${javaClass.fields})

    /**
     *  ${field.comment}
     */
    private ${field.javaType} ${field.name};
#end

#foreach ($field in ${javaClass.fields})

    public ${field.javaType} get${StringUtil.capitalizeFirstLetter($field.name)}() {
        return this.$field.name;
    }

    public void set${StringUtil.capitalizeFirstLetter($field.name)}($field.javaType $field.name) {
        this.$field.name = $field.name
    }

#end

}